<div class="row">
<h2>Ciudades de: <%= @country.name %></h2>
<div >
  <% @country.cities.each do |city| %>
      <ul class="listing">
          <li class="article-title">
            <span><%= link_to "#{city.name}", edit_country_city_path(@country,city) %>
              <% if city.sectors.count>0 %>
                <small>
                  <%= link_to ", sectores (#{city.sectors.count})",country_city_path(@country,city)  %>
                </small>
              <% else %>
                <%= link_to "agregar", new_country_city_sector_path(@country,city) %>
              <% end %>
            </span>
          </li>
      </ul>
  <% end %>
</div>
</div>