<div class="row">
<h2>Sectores de: <%= @city.name %>, <%= @country.name %></h2>
  <ul>

  </ul>
    <% @city.sectors.each do |sector| %>
        <ul class="listing">
              <li class="article-title">
                <span><%= link_to "#{sector.name}", edit_country_city_sector_path(@country,@city,sector) %></span>
              </li>
        </ul>
    <% end %>
</div>